[submodule "_vendor/jekyll-menu"]
        path = _vendor/jekyll-menu
        url = https://github.com/Ahti/jekyll-menu.git
[submodule "jekyll-plugins"]
	path = jekyll-plugins
	url = https://github.com/recurser/jekyll-plugins.git
[submodule "bootstrap-glyphicons"]
	path = bootstrap-glyphicons
	url = https://github.com/marcoceppi/bootstrap-glyphicons.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git

[submodule "jekyll-menu"]
	path = jekyll-menu
	url = https://github.com/Ahti/jekyll-menu.git
