</div> <!-- for conatiner started in the top-->
<footer class="footer">
{% include sitemap.html %}
  <div id='footer-disclaimer' class='row'>
    <center>This site is currently under development</center>
    <center>&copy; 2015. All rights reserved. &nbsp; | &nbsp; 
    <a href="">Terms &amp; Conditions</a> &nbsp; | &nbsp;
    <a href="">Disclaimer</a>  &nbsp; | &nbsp;
    site: <a href='www.vineetmaheshwari.com'> www.vineetmaheshwari.com</a>
    </center>
  </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
