<div id='sitemap' class='row'>
    <div class='column col-md-4'>
         <h4>Recent Blogs</h4>
         <ul>
           <li> <a href="http://dakinegroup.github.io/atmega328p/2015/07/06/atmega328p-scheduler.html">Scheduler for ATMega328p</a></li>
           <li> <a href="http://dakinegroup.github.io/atmega328p/2015/07/01/atmega328p-freshers-look.html">ATMega328p - Freshers look</a></li>
           <li><a href="http://dakinegroup.github.io/excelmacros/2015/07/01/create-inexpensive-timesheets-solution.html">Creating inexpensive timesheet solution</a></li>
         </ul>
    </div>
    <div class=' column col-md-4'>
      <h4>Most Visited Pages</h4>
      <ul>
        <li> <a href="/company/services/index.html">Services</a></li>
        <li> <a href="/company/team/index.html">About Us</a></li>
      </ul>
    </div>
    <div class='column col-md-4'>
      <h4>Contat Us</h4>
      <div class="row">
        <div class="col col-md-4">email:</div>
        <div class="col col-md-8">info@dakinegroup.com</div>
        <div class="col col-md-4">phone:</div>
        <div class="col col-md-8">+91 9899799105</div>
      </div>
    </div>
</div>