---
layout: default
---

<div class="category-heading">
<h1 class="category">{{ page.title }}</h1>
<div class='rss-feeds'><a href='./atom.xml'><i class="icon-large icon-rss"></i></a></div>
</div>
<ul class="posts">
{% for post in site.categories[page.category] %}
    <div class="row">
        <div class="col-md-2" style="margin-top:11px;text-align: right;" >{{ post.date | date_to_html_string }}</div>
        <div class="col-md-10" style="border-left: solid 2px green;"> 
        <h2  style="margin: 0;"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="categories" style="text-align:left;">Filed under {{ post.categories | category_links }}</div>
        </div>
    </div>
    
{% endfor %}
</ul>